@import url('variables.css');

.app {
  gap: 2rem;
  min-height: 100vh;
  padding: 3rem;
}

.title {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--text-overlay);
  font-size: 2rem;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.talent-paths {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Tablet Styles */
@media screen and (max-width: 768px) {
  .app {
    padding: 2rem;
  }
  .title {
    font-size: 1.5rem;
  }
}

/* Mobile Styles */
@media screen and (max-width: 640px) {
  .title span {
    display: block;
  }
  .content {
    flex-direction: column;
    width: 100%;
  }
  .talent-paths {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
