@import url('variables.css');

.path {
  position: relative;
  width: clamp(50px, 75px, 100px);
  height: 25px;
  background-image: linear-gradient(
    var(--rune-gradient-dark) 0%,
    var(--rune-gradient-light) 50%,
    var(--rune-gradient-dark) 100%
  );
}

/* Control the path's dimming effect */
.path-fill {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  z-index: 10;
  background-color: var(--black);
  transition: opacity 0.5s ease-in-out;
}

.path.filled .path-fill {
  opacity: 0;
}

.path.half-filled .path-fill {
  opacity: 0.25;
}

/* Tablet Styles */
@media screen and (max-width: 768px) {
  .path {
    height: 25px;
    width: 75px;
  }
}

/* Mobile Styles */
@media screen and (max-width: 640px) {
  .path {
    height: 50px;
    width: 25px;
  }
}
