.point-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #0f172a;
  border-radius: 0.5rem;
}

.point-display h2,
.point-display span {
  font-size: 1.25rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .point-display h2,
  .point-display span {
    font-size: 1rem;
  }
}
