@import url('variables.css');

.rune-wrapper {
  position: relative;
  padding: 4px;
  background-image: linear-gradient(
    var(--rune-gradient-dark) 0%,
    var(--rune-gradient-light) 50%,
    var(--rune-gradient-dark) 100%
  );
  cursor: grab;
}

.rune-wrapper img {
  z-index: 5;
}

/* Control the rune's dimming effect */
.rune-overlay {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  z-index: 10;
  background-color: var(--black);
  transition: opacity 0.25s ease-in-out;
}

.rune-overlay:hover {
  opacity: 0.25;
}

.rune-wrapper.learned .rune-overlay {
  opacity: 0;
}

/* Control the rune's outline color */
.rune-outline {
  position: absolute;
  inset: 0;
  opacity: 0;
  background-image: linear-gradient(
    var(--rune-border-gradient-dark) 0%,
    var(--rune-gradient-light) 50%,
    var(--rune-border-gradient-dark) 100%
  );
  transition: opacity 0.25s ease-in-out;
}

.rune-wrapper.learned .rune-outline {
  opacity: 1;
}
