.talent-path-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.talent-path-label {
  font-size: 1.25rem;
}

.talent-path {
  display: flex;
  align-items: center;
}
