.talent-path-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.talent-path-label {
  font-size: 1.25rem;
}

.talent-path {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .talent-path-label {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .talent-path {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
