@import url('variables.css');

.toast-wrapper {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 16rem;
  height: 4rem;
  border: 1px solid darkred;
  transform: translateY(3rem);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-overlay);
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.visible {
  transform: translateY(0rem);
  opacity: 1;
}

.close {
  background-color: transparent;
  font-size: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 4px 6px;
  color: darkred;
  border: none;
  cursor: grab;
}
